---
interface Props {
  title: string;
  link: string;
}

const { title, link } = Astro.props;
---

<div class="border-notion-light-default-text rounded border">
  <a
    href={link}
    class="block w-72 rounded-lg p-6 text-center transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-[0_0_15px_rgba(255,255,255,0.3)]"
  >
    <h3 class="mb-4 text-center text-xl font-bold">{title}</h3>
    <div class="bg-notion-light-yellow-background text-notion-light-yellow-text inline-block rounded px-4 py-2">
      View Demo
    </div>
  </a>
</div>
