---
import { NotionAPI } from 'notion-client';
import { NotionRenderer } from 'react-notion-x';
import { Code } from 'react-notion-x/build/third-party/code';
import { Collection } from 'react-notion-x/build/third-party/collection';
import { Equation } from 'react-notion-x/build/third-party/equation';
import { Modal } from 'react-notion-x/build/third-party/modal';
import { Pdf } from 'react-notion-x/build/third-party/pdf';
import 'react-notion-x/src/styles.css';
import 'prismjs/themes/prism-tomorrow.css';
import Layout from '../layouts/Layout.astro';
import { Prism } from '@astrojs/prism';
import code from '@/pages/[index].astro?raw';

const { index } = Astro.params;
console.log('id', index);

const notion = new NotionAPI();
const recordMap = await notion.getPage(index!);

export const prerender = false;
---

<Layout>
  <div class="z-10 flex h-full w-full flex-col p-4 2xl:p-100">
    <h1 class="mb-4 ml-4 font-semibold 2xl:text-4xl">React-Notion-X</h1>
    <NotionRenderer
      className="ml-4 rounded border border-gray-400"
      recordMap={recordMap}
      fullPage={true}
      darkMode={false}
      components={{
        Code,
        Collection,
        Equation,
        Modal,
        Pdf,
      }}
    />
    <div class="m-4 mb-8 rounded">
      <h1 class="font-semibold 2xl:text-4xl">This page's code</h1>
      <Prism lang="astro" code={code} class="rounded" />
    </div>
    <div class="m-4 rounded">
      <h1 class="font-semibold 2xl:text-4xl">Notion Page Record Map</h1>
      <Prism lang="astro" code={JSON.stringify(recordMap, null, 2)} class="rounded" />
    </div>
  </div>
</Layout>
