---
import { NotionAPI } from 'notion-client';
import { NotionRenderer } from 'react-notion-x';
import { Code } from 'react-notion-x/build/third-party/code';
import { Collection } from 'react-notion-x/build/third-party/collection';
import 'react-notion-x/src/styles.css';
import 'prismjs/themes/prism-tomorrow.css';
import Layout from '../layouts/Layout.astro';
import pageCode from '@/pages/[pageId].astro?raw';
import { Code as CodeComponent } from 'astro:components';

const { pageId } = Astro.params;

const notion = new NotionAPI();
const recordMap = await notion.getPage(pageId!);

export const prerender = false;
---

<Layout>
  <div class="z-10 flex h-full w-full flex-col p-4">
    <h1 class="mb-4 ml-4 font-semibold 2xl:text-4xl">React-Notion-X</h1>
    <NotionRenderer
      className="ml-4 rounded border border-gray-400"
      recordMap={recordMap}
      fullPage={true}
      darkMode={false}
      components={{
        Code,
        Collection,
      }}
    />
    <div class="m-4 mb-8 rounded">
      <h1 class="font-semibold 2xl:text-4xl">This page's code</h1>
      <CodeComponent theme="dracula" lang="astro" code={pageCode} class="rounded" />
    </div>
    <div class="m-4 rounded">
      <h1 class="font-semibold 2xl:text-4xl">Notion Page Record Map</h1>
      <CodeComponent theme="dracula" lang="json" code={JSON.stringify(recordMap, null, 2)} class="rounded" />
    </div>
  </div>
</Layout>
