---
import { type CollectionEntry, render } from 'astro:content';

interface Props {
  slide: CollectionEntry<'slides'>;
  hideContent: boolean;
}

const { slide } = Astro.props;
const { Content } = await render(slide);
---

<div class="mt-8 ml-6">
  <div class="mb-8">
    <h1 class="m-1 mt-0 mb-2 text-6xl 2xl:text-8xl">{slide.data.title}</h1>
    {slide.data.subtitle && <h2 class="m-1 mt-0 mb-0 text-3xl">{slide.data.subtitle}</h2>}
  </div>
  <article
    class="prose prose-2xl prose-li:text-3xl 2xl:prose-li:text-4xl prose-p:text-3xl 2xl:prose-p:text-4xl 2xl:prose-h3:text-6xl max-w-none"
  >
    <Content />
  </article>
</div>
