---
import type { CollectionEntry } from 'astro:content';

interface Props {
  slide: CollectionEntry<'slides'>;
  hideContent: boolean;
}

const { slide } = Astro.props;
const { Content } = await slide.render();
---

<section class="relative aspect-video">
  <img src={slide.data.image?.src} alt={slide.data.title} class="absolute inset-0 h-full w-full object-cover" />
  {
    !slide.data.hideContent && (
      <div class="bg-notion-light-default-background relative z-10 flex h-full flex-col items-center justify-center p-4 opacity-60">
        <div class="prose prose-2xlt text-notion-light-default-text">
          <h2 class="text-notion-light-default-text mb-4 text-4xl">{slide.data.title}</h2>
          <article class="prose text-notion-light-default-text">
            <Content />
          </article>
        </div>
      </div>
    )
  }
</section>
