---
import type { CollectionEntry } from 'astro:content';
import SlideLayout from './SlideLayout.astro';

interface Props {
  slide: CollectionEntry<'slides'>;
}

const { slide } = Astro.props;
const title = slide.data.title.split('<');
if (title.length > 1) {
  title[1] = title[1].replace('>', '');
}
---

<SlideLayout>
  <section class="bg-notion-light-default-background flex h-full flex-col items-center justify-center rounded-lg p-8">
    <h1 class="text-notion-light-default-text text-6xl font-bold xl:text-8xl">
      {title[0]}<span class="text-notion-light-yellow-text bg-notion-light-yellow-background">{title[1]}</span>{
        title[2]
      }
    </h1>
    {
      slide.data.subtitle && (
        <h2 class="text-notion-light-yellow-text bg-notion-light-yellow-background text-3xl font-bold xl:text-8xl">
          {slide.data.subtitle}
        </h2>
      )
    }
  </section>
</SlideLayout>
